/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inner-box {
    border: 2px solid rgb(181, 18, 18);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(181, 18, 18);
  }
  
  .draw-fortune {
    margin-top: 20px;
    border: none;
    color: white;
    background-color: rgb(181, 18, 18);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .draw-fortune:hover {
    opacity: 0.9;
  }
  
  .result {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .text {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  